@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
.izquierda {
    background: url(../img/1.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 50%;
}

.derecha {
    background: rgb(241, 239, 220);
    width: 50%;
    height: 80vh;
}

#Division {
    display: flex;
}

.izquierda .top {
    width: 12%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 8px;
    background-color: red;
    color: #fff;
    transform: translateX(50px) translateY(23px);
    text-transform: uppercase;
}

.izquierda .vertical {
    transform: translateX(40px) translateY(-28px);
    border-left: 1px solid red;
    height: 7%;
    left: 50%;
    margin-left: 3px;
    top: 2px;
}

.izquierda .img-white {
    width: 70%;
    transform: translateX(30px) translateY(60px);
}

.izquierda .center {
    font-size: 20px;
    width: 30%;
    color: #fff;
    margin-top: 20px;
    margin-left: 60px;
    font-family: 'Cormorant Garamond', serif;
}

.izquierda .p1 {
    font-size: 20px;
    width: 30%;
    color: #fff;
    margin-top: 20px;
    margin-left: 60px;
    font-family: 'Cormorant Garamond', serif;
    transform: translateY(-35px);
}

.izquierda .n-pag {
    background-color: red;
    color: #fff;
    width: 3%;
    font-size: 15px;
    text-align: right;
    margin-left: 95%;
    margin-top: 7%;
}

.izquierda .buttom {
    width: 12%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 8px;
    background-color: red;
    color: #fff;
    transform: rotate(270deg);
    margin-left: 91%;
    margin-top: 10%;
    text-transform: uppercase;
}

.derecha .vertical-d {
    border-left: 1px solid black;
    height: 10%;
    margin-left: 50px;
    margin-top: -17px;
}

.derecha .top {
    font-size: 8px;
    color: #000;
    margin-left: 58px;
    margin-top: -12px;
    text-transform: uppercase;
}

.derecha .txt-1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 9px;
    width: 28%;
    text-align: justify;
    margin-top: 30px;
    margin-left: 50px;
}

.derecha img {
    margin-left: 40px;
}

#columnas {
    color: rgb(99, 99, 99);
    padding: 3rem;
    font-size: 9.5px;
    text-align: justify;
    margin-top: -50px;
    column-count: 4;
    column-gap: 30px;
}

#columnas .txt-red {
    color: rgb(255, 0, 0);
}

#columnas .txt-red1 {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: rgb(255, 0, 0);
}

#columnas .txt-black {
    font-family: 'Cormorant Garamond', serif;
    color: black;
}

.derecha hr {
    height: 2px;
    background-color: red;
    width: 30px;
    margin-left: 650px;
    margin-top: -200px;
}

.derecha .n-pag {
    color: #000;
    width: 3%;
    font-size: 15px;
    text-align: right;
    margin-left: 95%;
    margin-top: 7%;
}

.derecha .buttom {
    width: 17%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 8px;
    color: #000;
    transform: rotate(270deg);
    margin-left: 89%;
    margin-top: 7%;
    margin-bottom: 8%;
    text-transform: uppercase;
}

.derecha .vertical {
    border-left: 1px solid rgba(0, 0, 0, 0.096);
    height: 105%;
    margin-left: 50%;
    margin-top: -75%;
}

.primer-reto h1 {
    font-size: 20px;
    text-align: center;
}

.primer-reto span {
    color: red;
}

.carousel-inner img {
    width: 10%;
}

.challenge-1 {
    margin-top: 1%;
    margin-bottom: 1%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    gap: 1vh 1vw;
}

.challenge-1 .card {
    -webkit-box-shadow: 9px 6px 15px -3px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 9px 6px 15px -3px rgba(0, 0, 0, 0.67);
    box-shadow: 9px 6px 15px -3px rgba(0, 0, 0, 0.67);
}

.challenge-1 .card .card-title {
    font-size: 100%;
}

.challenge-1 .card .card-text {
    font-size: 80%;
}

.challenge-1 .card .card-subtitle {
    color: rgb(202, 202, 202);
    font-size: 60%;
}

.challenge-1 .card:nth-child(1) {
    background-color: rgb(130, 24, 190);
    color: #fff;
    grid-column: 1/3;
    grid-row: 1/3;
}

.challenge-1 .card:nth-child(2) {
    background-color: rgb(113, 100, 138);
    color: #fff;
    grid-column: 3/4;
    grid-row: 1/3;
}

.challenge-1 .card:nth-child(3) {
    background-color: rgb(255, 255, 255);
    grid-column: 4/4;
    grid-row: 1/6;
}

.challenge-1 .card:nth-child(4) {
    background-color: rgb(255, 255, 255);
    grid-column: 1/2;
    grid-row: 3/6;
}

.challenge-1 .card:nth-child(5) {
    background-color: rgb(0, 0, 0);
    color: #fff;
    grid-column: 2/4;
    grid-row: 3/6;
}

.challenge-1 .card:nth-child(6) {
    background-color: rgb(47, 171, 209);
    color: #fff;
    grid-column: 1/2;
    grid-row: 6/7;
}

.challenge-1 .card:nth-child(7) {
    background-color: rgb(47, 209, 133);
    color: #fff;
    grid-column: 2/3;
    grid-row: 6/7;
}

.challenge-1 .card:nth-child(8) {
    background-color: rgb(209, 47, 123);
    color: #fff;
    grid-column: 3/5;
    grid-row: 6/8;
}

.challenge-1 .card:nth-child(9) {
    background-color: rgb(174, 209, 47);
    color: #fff;
    grid-column: 1/3;
    grid-row: 7/8;
}

.challenge-1 .card:nth-child(10) {
    background-color: rgb(209, 125, 47);
    color: #fff;
    grid-column: 1/5;
    grid-row: 8/10;
}

.challenge-2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    margin-top: 1%;
    margin-bottom: 1%;
    gap: 2vh;
}

.challenge-2 .item img {
    -webkit-box-shadow: 9px 6px 15px -3px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 9px 6px 15px -3px rgba(0, 0, 0, 0.67);
    box-shadow: 9px 6px 15px -3px rgba(0, 0, 0, 0.67);
}

.challenge-2 .item:nth-child(1) h1 {
    width: 50%;
    text-transform: uppercase;
    font-family: 'Notable', sans-serif;
}

.challenge-2 .item:nth-child(1) p {
    width: 80%;
    margin-top: 4%;
}

.challenge-2 .item:nth-child(1) {
    grid-column: 1/3;
    text-align: justify;
}

.challenge-2 .item:nth-child(2) {
    grid-column: 3/4;
}

.challenge-2 .item:nth-child(3) {
    grid-column: 1/3;
}

.challenge-2 .item:nth-child(4) {
    grid-column: 3/4;
    text-align: justify;
    padding: 8%;
}

.challenge-2 .item:nth-child(4) h2 {
    text-transform: uppercase;
    font-family: 'Notable', sans-serif;
}

.challenge-2 .item:nth-child(5) {
    grid-column: 1/4;
    text-align: justify;
}

.challenge-2 .txt-img {
    text-align: justify;
    width: 90%;
    margin-top: 4%;
}